<style>
  dialog[open] {
  animation: appear .15s cubic-bezier(0, 1.8, 1, 1.8);
}

  dialog::backdrop {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(54, 54, 54, 0.5));
    backdrop-filter: blur(3px);
  }
  
 
@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
} 
/*.mini-cart-button {
  display:none; 
}
@media screen and (min-width:750px) {
   .mini-cart-button {
    display:none; 
  } 
}*/
  
.mini-cart-button button {
  position: absolute;
  right: 10px;
  height: 50px;
      padding: 0px 10px 12px 9px;
}
  
</style>


<div class="mini-cart-button">
<section class="h-0">
  <button onclick="document.getElementById('myModal').showModal()" id="btn"  style="background-color:#ca0000; z-index:6000;" 
          class="rajdhani font-semibold text-2xl my-64 pb-5 px-10 text-white shadow-xl transform origin-right -rotate-90 hover:shadow-white transition duration-200 hover:animate-spin hover:scale-125 rounded-tl-3xl"
          style="position:absolute; right:0;">▲ View Cart</button>
</section>

<dialog id="myModal" class="w-11/12 md:w-3/4 p-5  bg-gray-200 rounded-md ">
        
   <div class="flex flex-col w-full h-auto ">
        <!-- Header -->
        <div class="flex w-full h-auto justify-center items-center">
          <div onclick="document.getElementById('myModal').close();" class="flex w-1/12 h-auto justify-center cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
          </div>
          <!--Header End-->
       </div>
       <!-- Modal Content-->
       <div class="flex w-full h-auto py-10 py-3 justify-center items-center bg-gray-200 rounded text-left text-gray-500">
         {%- render 'mini-cart' -%}
       </div>
       <!-- End of Modal Content-->        
  </div>
</dialog>
</div>



