<!--<div class="w-full">
  <div class="w-full">
   {% comment %} {%- render 'main-cart-items-snippet' -%} {% endcomment %}
  </div>
  <div class="w-full">
    {% comment %} {%- render 'main-cart-footer-snippet' -%} {% endcomment %}
  </div>
  
</div>
-->

