  <style>
    .modal {
      transition: opacity 0.5s ease;
      position: absolute;
      top: 0;
      left: 0;
      height: -webkit-fill-available;
      background-color: rgb(60, 60, 60, 0.9);
      position: fixed;
      width: 100vw;
      z-index: 5000;
    }
    body.modal-active {
      overflow-x: hidden;
      overflow-y: visible !important;
    }
   .modal-container {
    border: 2px solid #ccc;
    box-shadow: 0px 5px 50px #555;     
    border-radius: 10px;
    position: fixed;
    top: 10rem;
   }
  .modal_content {
    background-color: #fff; 
    position: sticky;
    top: 20%;
  }
  }
  .modal_element {
    background: #fff;
    transition: transform .3s cubic-bezier(.6,.4,0,1),opacity .3s cubic-bezier(.6,.4,0,1);
    box-shadow: rgb(0 0 0 / 10%) 0 5px 20px;
    will-change: transform;
    display: inline-block;
    text-align: left;
    margin-top: 0!important;
    margin: 0 auto;
    transform: translate3d(0,100%,0);
    opacity: 1;
    /*width: 50vw;*/
    height: 200px;
    padding:2rem;
    border-radius: 14px 14px 0 0;
    position: absolute;
    bottom: 0;    
  }
  .nav ul {
    display:inline-flex;
  }
  .nav ul a {
    padding:0 5px;
  }
  .modal_nav {
    padding-bottom:2rem;
    border-bottom: 1px solid rgba(0,0,0,.075);
    width: 100%;
    text-align: center;
  }
  .modal_element {
    border-radius: 14px;
    transform: translate3d(0,0,0) scale(.95);
    opacity: 1;
    width: 80vw;
    max-width:800px!important;
    position: relative;
  }
  @media (min-width: 576px)
    .modal:not(.modal--xs) .modal_element {
  }
  .modal.is-visible .modal_container>.modal_cell>.modal_element {
    position: relative;
    transform: translate3d(0,0,0) scale(1)!important;
    opacity: 1!important;
    width: min-content;
  }
  ._m-b-0, ._m-y-0, .modal_element {
    margin-bottom: 0!important;
  }
  .palette-selector_colors {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;  }
  .palette-selector, .palette-selector_colors {
    width: 100%;
    position: relative;
  }
  .palette-selector_colors div.is-visible {
    display: block;
    margin: 4px;
    border-radius: 5px;
  }
  .palette-selector_colors div {
    box-shadow: 1px 0;
    cursor: pointer;
    height: 100%;
    width: 20%;
    padding: 2rem 0;
    position: relative;
    overflow: hidden;
    float: left;
    display: none;
    flex-grow: 1;
  }
  :not(input):not(code) {
    -webkit-user-select: none;
    user-select: none;
  }
  label {
  padding:20px;
  font-size:14px;
  }
  </style>
  <!--<button class="modal-open bg-transparent border border-gray-500 hover:border-black text-gray-500 font-bold py-2 px-4 rounded-full variant-radios-label variant-radios">Custom</button>-->
  
  <!--Modal-->
  <div class="modal opacity-1 pointer-events-none w-full h-full flex items-center justify-center hidden">
    <div class="modal-overlay h-full bg-gray-900 opacity-50"></div>
    
    <div class="modal-container z-50 overflow-y-auto">
      
      <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50 hidden">
        <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
          <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
        </svg>
        <span class="text-sm">(Esc)</span>
      </div>

      <!-- Add margin if you want to see some of the overlay behind the modal-->
      <div class="modal-content bg-white py-4 text-left px-6">
        <!--Title-->
        <div class="flex justify-between items-center pb-3">
          <p class="text-xl">SELECT CUSTOM COLOR FOR<span class="text-2xl teko bold"><em><b> {{ product.title }}</b></em>:</p>
          <div class="modal-close cursor-pointer z-50">
            <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
              <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
          </div>
        </div>
        <script>
        function zztopWasAnOKBand(elem) {
            var theColorLabel = document.getElementById('theColorLabel');
            var theCustomColorLineItem = document.getElementById('draxx');
            var theCustomButton = document.querySelectorAll('.draxx');
            theColorLabel.innerHTML = elem.dataset.colorName;
            theCustomColorLineItem.value = elem.dataset.colorName;
            theCustomButton[0].innerHTML = "Custom: " + elem.dataset.colorName;
            console.log(elem.id);
        }
        </script>
        <!--Body-->
        <div class="modal_element">
          <form id="palette-image-exporter_form">
            <div class="modal_body"> 
              <div data-tab="labels" class="is-visible">
                <div class="input-group">
                  <label>            
                    <div class="pro-star text-4xl" id="theColorLabel">
                      -- Make Selection --
                    </div>
                  </label>
                </div>
                <div id="palette-image-exporter_labels_selector">
                  <div class="palette-selector is-selectable" data-colors="8">        
                    <div class="palette-selector_colors" class="flex-col">
                      <div id="CC0" data-index="0" class="is-visible" style="background-color: rgb(0, 9, 20); color: rgb(0, 9, 20);" data-color-name="Black" onClick="zztopWasAnOKBand(this);">
                        <span>#000914</span>
                      </div>
                      <div id="CC1" data-index="1" class="is-visible" style="background-color: rgb(105, 109, 104); color: rgb(105, 109, 104);" data-color-name="Grey" onClick="zztopWasAnOKBand(this);">
                        <span>#696D68</span>
                      </div>
                      <div id="CC2" data-index="2" class="is-visible" style="background-color: rgb(225, 86, 0); color: rgb(225, 86, 0);" data-color-name="Ornage" onClick="zztopWasAnOKBand(this);">
                        <span>#E15600</span>
                      </div>
                      <div id="CC3" data-index="3" class="is-visible" style="background-color: rgb(192, 30, 36); color: rgb(192, 30, 36);" data-color-name="Burnt Ornage" onClick="zztopWasAnOKBand(this);">
                        <span>#C01E24</span>
                      </div>
                      <div id="CC4" data-index="4" class="is-visible" style="background-color: rgb(255, 0, 0); color: rgb(255, 0, 0);" data-color-name="Reddy Red" onClick="zztopWasAnOKBand(this);">
                        <span>#FF0000</span>
                      </div>
                      <div id="CC5" data-index="5" class="is-visible is-active" style="background-color: rgb(28, 123, 216); color: rgb(28, 123, 216);" data-color-name="Kinda Blue" onClick="zztopWasAnOKBand(this);">
                        <span>#1C7BD8</span>
                      </div>
                      <div id="CC6" data-index="6" class="is-light is-visible" style="background-color: rgb(200, 177, 141); color: rgb(200, 177, 141);" data-color-name="Dirty Muck" onClick="zztopWasAnOKBand(this);">
                        <span>#C8B18D</span>
                      </div>
                      <div id="CC7" data-index="7" class="is-light is-visible" style="background-color: rgb(225, 255, 9); color: rgb(225, 255, 9);" data-color-name="Lellow" onClick="zztopWasAnOKBand(this);">
                        <span>#E1FF09</span>
                      </div>
                      <div data-index="8">
                        <span></span>
                      </div>
                      <div data-index="9">
                        <span></span>
                      </div>            
                    </div>        
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--Footer-->
        <div class="flex justify-end pt-2">
          <button class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Done</button>
        </div>        
      </div>
    </div>
  </div>

  <script>
    var openmodal = document.querySelectorAll('.modal-open');
    for (var i = 0; i < openmodal.length; i++) {
      openmodal[i].addEventListener('click', function(event){
    	toggleModal();
      });
    }
    
    const overlay = document.querySelector('.modal-overlay');
    overlay.addEventListener('click', toggleModal);
    
    var closemodal = document.querySelectorAll('.modal-close');
    for (var i = 0; i < closemodal.length; i++) {
      closemodal[i].addEventListener('click', toggleModal);
    }
    
    document.onkeydown = function(evt) {
      evt = evt || window.event;
      var isEscape = false;
      if ("key" in evt) {
    	isEscape = (evt.key === "Escape" || evt.key === "Esc");
      } else {
    	isEscape = (evt.keyCode === 27);
      }
      if (isEscape && document.body.classList.contains('modal-active')) {
    	toggleModal();
      }
    };
    
    function toggleModal () {
      const body = document.querySelector('body');
      const modal = document.querySelector('.modal');
      modal.classList.toggle('hidden');
      modal.classList.toggle('pointer-events-none');
      body.classList.toggle('modal-active');
    }
  </script>