<div class="modal_element" id="product-interupt-modal">
      <div class="modal_body"> 
          Do you have a sealed Cab on your Defender? If so, the window seal is required for installation.        </div>
        <div id="product-interupt-modal-body">
          <button>Thanks</button>
          <button>Nah</button>
    </div>
</div>
