<style>
  .spaced-section:last-child {
    padding-bottom:0; 
  }
  .section-title {
    color:#ccc;
    font-family:"Rajdhani";
    padding: 2rem 1rem;
  }
   .index-message {
     font-family: 'Teko';
     padding: 5rem 2rem 3rem 2rem;
     text-shadow: 2px 2px 5px #000;
     text-align:center;
   }
  .text-bg {
    width: 80vw;
    background-color: rgb(78 78 78 / 60%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); 
  }
  .index-newsletter {
    color: #000;
    font-family: 'Rajdhani';
    justify-items: center;
  }
  .newsletter-form__field-wrapper .field__input {
    background-color:#fff;
    color:#0fa0ea;
    font-family:"Rajdhani";
  }
  .needsclick {
    flex-wrap: wrap;
    font-size: 12px;
  }
</style>
<section class="w-full" style="background-image:url('{{ section.settings.bg-image | img_url: '1500x' }}');">
  <div class="section-title w-full text-6xl md:text-7xl lg:text-8xl  text-center pl-10 py-12 raj-semi" style="background-color:transparent;">GET THE TF NEWSLETTER</div>
  <div class="w-full paralax-image md:bg-fixed lg:bg-fixed bg-cover bg-no-repeat bg-black pb-24" style="background-image:url('{{ section.settings.bg-image | img_url: '1500x' }}');">
    <div style="text-align:-webkit-center"
         class="text-bg index-message text-justify mx-auto w-5/8 lg:w-1/2 md:w-3/4 sm:w-5/8 h-5/8 sm:h-3/4 text-center text-5xl sm:text-5xl md:text-6xl lg:text-7xl text-white">
      <!--<p style="top:0px;left:auto; z-index:400">Dramatically change the look of your ride with innovative aftermarket products by Thumper Fab, engineered to be the best.</p><br>-->
      <div class="sign-up__heading text-center raj text-8xl uppercase font-semibold text-white pb-5">Be the <span class="text-9xl" style="color:#ca0000;"><em>FIRST</em></span> to know</div>
      <div class="sign-up__text text-center raj text-5xl text-white pb-10">You'll be first in line when our new products hit the shelf, plus, you'll receive <em>exclusive</em> pre-order access, offers, and discounts not available to the general public.</div>
      <div class="index-newsletter pb-10 grid grid-cols-1 flex inline-flex">
        <div class="paralax-block__newsletter">
				<div class="klaviyo-form-QY7dZr"></div>
        </div>
        <div class="tf-diamond">
           <img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/TF_diamond_150.png?v=1647042134" style="z-index:500;top:0px;left:auto;" loading="lazy" />
        </div>
      </div>
     
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Paralax Image",
	"tag": "section",
	"class": "spaced-section",
	"templates": ["article", "index", "page", "product", "collection"],
    "settings": [
      {
        "type": "image_picker",
        "id": "bg-image",
        "label": "Background Image"
      }
    ],
	"presets": [
    {
      "name": "Paralax Image"
	}
	]
  }
{% endschema %}

{% stylesheet %}
.
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
