<div class="w-full h-full">{% render 'product-header-snippet' %}</div>

{% schema %}
  {
    "name": "Product Header",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
